{% extends 'base.html' %}

{% block page_heading %}
  Analysis By Group
{% endblock %}


{% block page_content %}
<script>

  const data = {
  labels: {{ chart_labels }},
  datasets: {{chart_data }}
};

  const config = {
    type: 'bar',
    data: data,
    options: {
      responsive: true,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      }
    }
  };

</script>

<div class="card bg-light">
<form class="row p-3" method="GET">
  <div class="form-group col-sm-3">
    <label for="MinDateEntry">Event Timestamp - Start Date</label>
    <input type="date" class="form-control" id="MinDateEntry" name="min_date" aria-describedby="MinDateEntryHelp">
    <small id="MinDateEntryHelp" class="form-text text-muted">Earliest start date for data is {{global_min_date}}</small>
  </div>
  <div class="form-group col-sm-3">
    <label for="MaxDateEntry">Event Timestamp - End Date</label>
    <input type="date" class="form-control" id="MaxDateEntry"  name="max_date" aria-describedby="MaxDateEntryHelp" >
    <small id="MaxDateEntryHelp" class="form-text text-muted">Latest end date for data is {{global_max_date}}</small>
  </div>
  <div class="form-group col-sm-3">
    <label for="MinExpirationDateEntry">Expiration Year - Start</label>
    <input type="number" class="form-control" id="MinExpirationDateEntry" name="min_exp_year" aria-describedby="MinExpirationDateEntryHelp" placeholder="Enter year only: yyyy">
    <small id="MinExpirationDateEntryHelp" class="form-text text-muted">Earliest expiration year for data is {{global_exp_year_min_date}}</small>
  </div>
  <div class="form-group col-sm-3">
    <label for="MaxExpirationDateEntry">Expiration Year - End</label>
    <input type="number" class="form-control" id="MaxExpirationDateEntry"  name="max_exp_year" aria-describedby="MaxExpirationDateEntryHelp" placeholder="Enter year only: yyyy">
    <small id="MaxExpirationDateEntryHelp" class="form-text text-muted">Latest expiration year for data is {{global_exp_year_max_date}}</small>
  </div>
  <div class="form-group col-12">
    <br>
  </div>
  <div class="form-group col-sm-3">
    <label for="SubGroupVar1">Sub Group Variable 1</label>
    <select class="form-select" name="sub_group_variable_1" id="SubGroupVar1">
      {% for col in columns_list %}
          <option value="{{col}}">{{col}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-sm-3">
    <label for="SubGroupVar2">Sub Group Variable 2</label>
    <select class="form-select" name="sub_group_variable_2" id="SubGroupVar2">
      <option value="">None</option>
      {% for col in columns_list %}
          <option value="{{col}}">{{col}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-sm-3">
    <label for="SubGroupVar3">Sub Group Variable 3</label>
    <select class="form-select" name="sub_group_variable_3" id="SubGroupVar3">
      <option value="">None</option>
      {% for col in columns_list %}
          <option value="{{col}}">{{col}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-sm-3">
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
<br>
<div class="col-12">
    <h4>Breakdown by selected variables (columns in data) - USD (millions) </h4>
  </div>
{{table_html | safe}}
{% endblock %}

